<div class="card">
  <div class="card-header">
    <strong>友善農民基本資料</strong>
  </div>
  <div class="card-body card-block">
    <%= form_for @user.user_profile, :url => user_profile_path(@user), :method => :patch, :html => {:class => 'form-horizontal'} do |f| %>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("會員編號", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:user_id, :class => "form-control", :value => @user.id, :readonly => true)%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("電子信箱", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:user_email, :class => "form-control", :value => @user.email)%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("FB Uid", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:fb_uid, :class => "form-control", :value => @user.user_profile.fb_uid, :readonly => true, :disabled => true)%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("FB專頁", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:fb_url, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("產銷班", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:ps_group, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("農場名稱", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:farm_name, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("經營農戶姓名", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:name, :class => "form-control")%>
          <small class="form-text" id="name" style="color: red;"></small>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("聯絡電話", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:tel, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("手機號碼", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:cell_phone, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("住址", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:address, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("驗證機構", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:certification_body, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("驗證作物種類", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field :category, 'data-tokeninput' => { collection: @los_farms, options: { theme: 'facebook',prePopulate: @default} }.to_json %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("農作名稱", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:crop_name, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("田區代號", :class => 'form-control-label') %>
        </div>
        <div id="number" style="display:none"></div>
        <div class="col-12 col-md-9">
          <div id="filed">
            <%= render_row(@filed_code)%>
          </div>
          <%= button_tag type: 'button', onclick: "insert_a_row();" do %>
            <i class="fa fa-magic"></i>&nbsp; 插入
          <% end %>
          <span class="help-block" style ="color :red">輸入方式：一行一個田區代號</span>
          <small class="form-text" id="filed_code" style="color: red;"></small>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("自我介紹", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_area(:introduce, :class => "form-control", rows: 5)%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("有機證書", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:certificate_photo, :class => "form-control", :value => @user.user_profile.certificate_photo, :readonly => true)%>
          <span class="btn btn-success fileinput-button">
            <span>上傳檔案</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]">
          </span>
        </div>
      </div>
      <div>
        <%= image_tag @user.user_profile.certificate_photo, height: '400', id: 'pic_1' %>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("有機證書2", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:certificate_photo_2, :class => "form-control", :value => @user.user_profile.certificate_photo_2, :readonly => true)%>
          <span class="btn btn-success fileinput-button">
            <span>上傳檔案</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload_2" type="file" name="files[]">
          </span>
        </div>
      </div>
      <div>
        <%= image_tag @user.user_profile.certificate_photo_2, height: '400', id: 'pic_2' %>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("有機驗證字號", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field(:oc_num, :class => "form-control")%>
        </div>
      </div>
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label("證書有效期限", :class => 'form-control-label') %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.datetime_local_field(:validity_period, :class => "form-control")%>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm" id="from_submit">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    <% end %>
  </div>
</div>

<script>
  $( window ).load(function() {
    $("#number").html(document.querySelectorAll('input[id^="filed_code"]').length);
  });
  function insert_a_row() {
    var row = parseInt($("#number").html());
    row++;
    $("#filed").append("<input type='text' name='filed_code[" + row + "]' id='filed_code_" + row + "' class='form-control'>");
    $("#number").html(row);
  }
</script>