<link rel="stylesheet" media="screen" href="https://d2yqzfalywhrf9.cloudfront.net/assets/jquery_fileupload_rails.css" />
<style>
  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  .btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }
  .progress {
    display: flex;
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    background-color: #eceeef;
    border-radius: 0.25rem;
  }
</style>
<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">會員</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">農場用戶管理</strong>
                <%= link_to "新增", user_user_manage_path(@farm.id), :class => "btn btn-secondary"%>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">會員編號</th>
                        <th scope="col">暱稱</th>
                        <th scope="col">權限</th>
                        <th scope="col">管理</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% @users.each do |u|%>
                        <%#= form_for @user, :url => {:controller => 'user_manages', :action => 'update', :id => @user} do |f| %>
                          <th scope="row"><%= u.user_id %></th>
                          <td><%= u.user.user_profile.nickname %></td>
                          <td><%= render_permission(u.permission) %></td>
                          <td><%= link_to "管理", user_manages_edit_user_path(params[:id], u.id) %></td>
                        <% end %>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <%= render "basic_info" %>
            <%#= render "user_info" if @user.user_profile.present? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://d2yqzfalywhrf9.cloudfront.net/assets/jquery_fileupload_rails.js"></script>
<script>
  $(function () {
    $('#fileupload').fileupload({

      // AJAX Options
      url: '<%= upload_tools_path %>',
      dataType: 'json',

      // General Options
      paramName: 'file',
      formAcceptCharset: 'utf-8',
      sequentialUploads: true,

      // Validation
      acceptFileTypes: /(\.|\/)(gif|jpe?g|png|mp4|avi|mov)$/i,
      maxFileSize: 6000000 // 6MB

    }).on('fileuploadsubmit', function (_, data) {

      var watermark = $('input[name=radio_watermark]:checked');

      <%# 指定 `formData` 可以避免預設整個 Form 被 Serialize，只 Serialize 圖片本身與指定的參數 %>
      data.formData = {
        option: "{&quot;resource_type&quot;:&quot;Article&quot;,&quot;resource_id&quot;:null}",
        table_params: "{}",
        watermark: watermark.val() == 'true'
      };

    }).on('fileuploadprocessalways', function (_, data) {

      var currentFile = data.files[data.index];

      if (data.files.error && currentFile.error) {

        var error_message = '`' + currentFile.name + '`' + ' ' + currentFile.error

        errorHandler(error_message);

      }

    }).on('fileuploadprogressall', function (_, data) {

      var progress = parseInt(data.loaded / data.total * 100, 10);
      $('#progress .bar').css('width', progress + '%');

    }).on('fileuploaddone', function (_, data) {

      //location.reload();
      appendImage(data.result);

    }).on('fileuploadfail', function (_, data) {

      $.each(data.files, function (index, file) {

        var error_message = '`' + file.name + '`' + ' 上傳失敗.'

        errorHandler(error_message);

      });

    });

  });
  function errorHandler (error_message) {
    var error = $('<span class="text-danger"/>').text(error_message);

    $('#progress').after('<br>').after(error);
  }

  function appendImage (src) {
    $('#farmer_profile_certificate_photo').val("清除中...");
    $('#farmer_profile_certificate_photo').val(src.original);
    $("#pic_1").attr('src', src.original);
  }
  $(function () {
    $('#fileupload_2').fileupload({

      // AJAX Options
      url: '<%= upload_tools_path %>',
      dataType: 'json',

      // General Options
      paramName: 'file',
      formAcceptCharset: 'utf-8',
      sequentialUploads: true,

      // Validation
      acceptFileTypes: /(\.|\/)(gif|jpe?g|png|mp4|avi|mov)$/i,
      maxFileSize: 6000000 // 6MB

    }).on('fileuploadsubmit', function (_, data) {

      var watermark = $('input[name=radio_watermark]:checked');

      <%# 指定 `formData` 可以避免預設整個 Form 被 Serialize，只 Serialize 圖片本身與指定的參數 %>
      data.formData = {
        option: "{&quot;resource_type&quot;:&quot;Article&quot;,&quot;resource_id&quot;:null}",
        table_params: "{}",
        watermark: watermark.val() == 'true'
      };

    }).on('fileuploadprocessalways', function (_, data) {

      var currentFile = data.files[data.index];

      if (data.files.error && currentFile.error) {

        var error_message = '`' + currentFile.name + '`' + ' ' + currentFile.error

        errorHandler_2(error_message);

      }

    }).on('fileuploadprogressall', function (_, data) {

      var progress = parseInt(data.loaded / data.total * 100, 10);
      $('#progress .bar').css('width', progress + '%');

    }).on('fileuploaddone', function (_, data) {

      //location.reload();
      appendImage_2(data.result);

    }).on('fileuploadfail', function (_, data) {

      $.each(data.files, function (index, file) {

        var error_message = '`' + file.name + '`' + ' 上傳失敗.'

        errorHandler_2(error_message);

      });

    });

  });
  function errorHandler_2 (error_message) {
    var error = $('<span class="text-danger"/>').text(error_message);

    $('#progress').after('<br>').after(error);
  }
  function appendImage_2 (src) {
    $('#farmer_profile_certificate_photo_2').val("清除中...");
    $('#farmer_profile_certificate_photo_2').val(src.original);
    $("#pic_2").attr('src', src.original);
  }

  $(function () {
    $('#user_pic').fileupload({

      // AJAX Options
      url: '<%= upload_tools_path %>',
      dataType: 'json',

      // General Options
      paramName: 'file',
      formAcceptCharset: 'utf-8',
      sequentialUploads: true,

      // Validation
      acceptFileTypes: /(\.|\/)(gif|jpe?g|png|mp4|avi|mov)$/i,
      maxFileSize: 6000000 // 6MB

    }).on('fileuploadsubmit', function (_, data) {

      var watermark = $('input[name=radio_watermark]:checked');

      <%# 指定 `formData` 可以避免預設整個 Form 被 Serialize，只 Serialize 圖片本身與指定的參數 %>
      data.formData = {
        option: "{&quot;resource_type&quot;:&quot;Article&quot;,&quot;resource_id&quot;:null}",
        table_params: "{}",
        watermark: watermark.val() == 'true'
      };

    }).on('fileuploadprocessalways', function (_, data) {

      var currentFile = data.files[data.index];

      if (data.files.error && currentFile.error) {

        var error_message = '`' + currentFile.name + '`' + ' ' + currentFile.error

        user_pic_errorHandler_2(error_message);

      }

    }).on('fileuploadprogressall', function (_, data) {

      var progress = parseInt(data.loaded / data.total * 100, 10);
      $('#progress .bar').css('width', progress + '%');

    }).on('fileuploaddone', function (_, data) {

      //location.reload();
      user_pic_appendImage_2(data.result);

    }).on('fileuploadfail', function (_, data) {

      $.each(data.files, function (index, file) {

        var error_message = '`' + file.name + '`' + ' 上傳失敗.'

        user_pic_errorHandler_2(error_message);

      });

    });

  });
  function user_pic_errorHandler_2 (error_message) {
    var error = $('<span class="text-danger"/>').text(error_message);

    $('#progress').after('<br>').after(error);
  }
  function user_pic_appendImage_2 (src) {
    $('#farmer_profile_user_pic_url').val("清除中...");
    $('#farmer_profile_user_pic_url').val(src.original);
    $("#user_pic_url").attr('src', src.original);
  }
 $(document).ready(function(){
    $("#from_submit").click(function(){
      if($("#farmer_profile_name").val()==""){
        $("#name").html("你尚未填寫姓名");
        $("#farmer_profile_name").focus();          
      }else if($("#filed_code_1").val()==""){
        $("#filed_code").html("至少填寫一個田區代號");
        $("#filed_code_1").focus();       
      }else{
        document.getElementById("edit_farmer_profile_<%= params[:id]%>").submit()
      }
    })
 })
</script>