<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">會員</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Table List</strong>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">暱稱</th>
                        <th scope="col">建立時間</th>
                        <th scope="col">Email</th>
                        <th scpoe="col">編輯</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @users.each do |user|%>
                        <tr>
                          <th scope="row"><%= user.id %></th>
                          <td><img class="img-fluid rounded-circle" src="https://graph.facebook.com/<%= user.authorizations[0].try(:uid) %>/picture" alt="" style="width: 30px"></td>
                          <td><%= user.user_profile.try(:nickname) %></td>
                          <td><%= user.created_at.strftime("%F %T") %></td>
                          <td><%= user.email%></td>
                          <td><%= link_to "[edit]", edit_user_manage_path(user.id)%></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= will_paginate @users, :renderer => WillPaginateRenderer::WebPageRenderer %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>