<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">數位內容</a></li>
              <li class="active">動圖</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Table List</strong>
              </div>
              
              <div class="card-body">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">網址</th>
                      <th scope="col">刪除</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @type_gifs.each do |gif|%>
                      <tr>
                        <th scope="row"><%= gif.id %></th>
                        <td>
                          <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#<%= "gif_#{gif.id}"%>">
                            <%= image_tag(gif.resource.url, height: "100" )%>
                          </button>
                        </td>
                        <td><%= link_to "[del]", gif_del_path(gif.id), :method => :delete %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= will_paginate @type_gifs %>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <table cellpadding="4" cellspacing="1" width="50%">
              <tr class="even">
                <%= render :partial => "upload_tools/jquery_fileupload", :locals => {:option => {:resource_type => @type.class.to_s}, :table_params => { } } %>
              </tr>
              <div role="tabpanel" class="tab-pane active" id="pic-all">
                <div class="row my-2">
                </div>
              </div>
              <tr class="odd">
                <td>
                  1.上傳的原圖格式，長寬請勿過大。<br />
                  2.檔案大小不可以超過 150KB。<br />
                  3.檔案的檔名為英文、數字，副檔名為 gif檔 。<br />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @type_gifs.each do |gif|%>
    <div class="modal fade" id="<%= "gif_#{gif.id}"%>" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="largeModalLabel">預覽</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              <%= image_tag(gif.resource.url)%>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>