<% cache ["user_list",params[:page]], :expires_in => 1.hours do %>
  <body>
    <%= render "shared/left_panel" %>
    <div id="right-panel" class="right-panel">
      <div class="breadcrumbs">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1>Dashboard</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">網頁內容</a></li>
                <li class="active">用戶列表</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content mt-3">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body card-block">
                  <%= form_for :user, :url => user_list_search_agris_path, :method => :post, :class => "form-horizontal" do |f| %>
                    <div class="row form-group">
                      <div class="col col-md-12">
                        <div class="input-group">
                          <%= text_field(:post, :name, size: 20, class: "form-control", placeholder: "請輸入FB姓名" ) %>
                          <div class="input-group-btn"><button type="submit" class="btn btn-primary">Submit</button></div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <strong class="card-title" style="float: left;">Table List</strong>
                  <div  style="float: right;">✽用戶資料每整點更新一次，包括新增用戶及查詢的內容。</div>
                </div>
                  <div class="card-body">
                    <div>
                      <div class="col-lg-6">
                      </div>
                      <div class="col-lg-6">
                        共 <span style="padding-left: 1px;padding-right: 1px;color: #0084ff;"><%= @total_user.size %></span> 名用戶
                      </div>
                    </div>
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">FB姓名</th>
                          <th scope="col">初次互動時間</th>
                          <th scope="col">查詢</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @users.each do |user|%>
                          <tr>
                            <th scope="row"><img class="img-fluid rounded-circle" src="https://graph.facebook.com/<%= user.uid %>/picture" alt="" style="width: 30px"></th>
                            <td><%= user.name %></td>
                            <td><%= user.created_at.strftime("%F %T") %></td>
                            <td>
                              <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#mediumModal" onclick="ChangeContent(<%= user.uid%>)">
                                查詢
                              </button>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%= will_paginate @users, :renderer => WillPaginateRenderer::WebPageRenderer %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mediumModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_content">
          <div class="row">
            <div class="col-lg-12" style="text-align: center;">
              NAME
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              123
            </div>
            <div class="col-lg-6">
              456
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% content_for :javascript do %>
  <script>
    function ChangeContent(uid){
      url = '/agris/user_list_alert?uid=' + uid;
      xmlHttp = new XMLHttpRequest();
      xmlHttp.open( "GET", url, false );
      xmlHttp.send( null );
      content = xmlHttp.responseText;
      $("#modal_content").html("");
      $("#modal_content").html(content);
    };
  </script>
<% end %>