<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">網頁內容</a></li>
              <li class="active">文案</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <%= form_for @wording, :url => wording_create_path do |f| %>
              <div class="card-header"><strong>編輯</strong></div>
              <div class="card-body card-block">
                <div class="form-group">
                  <%= f.label("名稱", :class => 'form-control-label') %><%= f.text_field(:name, :class => "form-control", placeholder: "輸入標題")%>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-secondary" id="import_text">
                    [故事]對話格式(文)
                  </button>
                  <button type="button" class="btn btn-success" id="import_img">
                    [故事]對話格式(圖)
                  </button>
                  <button type="button" class="btn btn-warning" id="import_card">
                    [故事]卡片格式
                  </button>
                  <button type="button" class="btn btn-info" id="import_mes_farmer_text">
                    主選單B2B對話
                  </button>
                  <button type="button" class="btn btn-info" id="import_mes_user_text">
                    主選單B2C對話
                  </button>
                  <button type="button" class="btn btn-primary" id="import_survey_or_test_1">
                    四層調查or測驗
                  </button>
                  <a type="button" href="/wordings/new" target="_blank" class="btn btn-info" style="color: #000">工具</a>
                  <%= f.text_area(:content, :class => "form-control", placeholder: "輸入內容", rows: 20)%>
                </div>
                <div class="form-group">
                  <%= f.label("類別", :class => 'form-control-label') %>
                  <%= f.select :wording_cat_id, options_for_select(@cat.collect{ |c| [c.name, c.id]}), :class => "form-control"%>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-warning btn-sm" id="validate_json">
                  <i class="fa fa-dot-circle-o"></i> 驗證
                </button>
                <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fa fa-dot-circle-o"></i> 送出
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                  <i class="fa fa-ban"></i> 清除
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $('#import_text').on('click', function () {
    $("#wording_name").val("TEAFU.STORY.MESSAGE.[請輸入數字]");
    $("#wording_content").val("{\n\"NAME\":\"TEAFU.STORY.MESSAGE.[請輸入數字]\",\n\"type\":\"text\",\n\"text\":\"[請輸入文字]\",\n\"delay\":\"[延遲秒數]\"\n}");
  })
  $('#import_img').on('click', function () {
    $("#wording_name").val("TEAFU.STORY.MESSAGE.[請輸入數字]");
    $("#wording_content").val("{\n\"NAME\": \"TEAFU.STORY.MESSAGE.[請輸入數字]\",\n\"type\":\"image\",\n\"url\":\"[請輸入圖片網址]\",\n\"delay\":\"[延遲秒數]\"\n}");
  })
  $('#import_card').on('click', function () {
    $("#wording_name").val("TEAFU.STORY.LEVEL.[請輸入數字]");
    $("#wording_content").val("[\n{\n\"title\": \"我是台灣特有種\",\n\"subtitle\":\"我是一隻瀕臨絕種的小青蛙，身處在北部高山.....\",\n\"image_url\": \"http://story.sogi.com.tw/showjpg/story_001.jpg\",\n\"buttons\": [\n{\n\"type\": \"postback\",\n\"title\": \"我想了解茶福的身世\",\n\"payload\": \"01_ShenShi\"\n}\n]\n},\n{\n\"title\": \"我是被年改的公務員\",\n\"subtitle\":\"我是位繁忙的上班族，好想要來一杯文山包種茶.....\",\n\"image_url\": \"http://story.sogi.com.tw/showjpg/story_002.jpg\",\n\"buttons\": [\n{\n\"type\": \"postback\",\n\"title\": \"我想了解茶福的職業\",\n\"payload\": \"01_JOB\"\n}\n]\n},\n{\n\"title\": \"我的老家有年獸！\",\n\"subtitle\":\"牠！每年都會跑出來大鬧坪林街上一次.....\",\n\"image_url\": \"http://story.sogi.com.tw/showjpg/story_003.jpg\",\n\"buttons\": [\n{\n\"type\": \"postback\",\n\"title\": \"我想了解茶福的老家\",\n\"payload\": \"01_JOB\"\n}\n]\n}\n]");
  })
  $('#import_mes_farmer_text').on('click', function () {
    $("#wording_name").val("TEAFU.MENU.B2B.[請輸入數字]");
    $("#wording_content").val("[{\n\"NAME\": \"TEAFU.MENU.B2B.[請輸入數字].[請輸入數字]\",\n\"type\": \"text\",\n\"text\": \"您已完成追蹤，若有這項提案最新消息茶福會通知您唷。\",\n\"delay\": \"1\"\n},\n{\n\"NAME\": \"TEAFU.MENU.B2B.[請輸入數字].[請輸入數字]\",\n\"type\": \"text\",\n\"text\": \"還有～還有～其他提案也很精彩值得你關注喔。\",\n\"delay\": \"1\"\n}\n]");
  })
  $('#import_mes_user_text').on('click', function () {
    $("#wording_name").val("TEAFU.MENU.B2C.[請輸入數字]");
    $("#wording_content").val("[{\n\"NAME\": \"TEAFU.MENU.B2C.[請輸入數字].[請輸入數字]\",\n\"type\": \"text\",\n\"text\": \"您已完成追蹤，若有這項提案最新消息茶福會通知您唷。\",\n\"delay\": \"1\"\n},\n{\n\"NAME\": \"TEAFU.MENU.B2C.[請輸入數字].[請輸入數字]\",\n\"type\": \"text\",\n\"text\": \"還有～還有～其他提案也很精彩值得你關注喔。\",\n\"delay\": \"1\"\n}\n]");
  })
  $('#import_survey_or_test_1').on('click', function () {
    $("#wording_name").val("TEAFU.[CSI].[keyword].[number].[LEVEL]");
    $("#wording_content").val("####快速回覆####\n[{\n\"NAME\":\"TEAFU.[CSI].[keyword].[number].[LEVEL]\",\n\"type\":\"text\",\n\"text\":\"[請輸入文字]\",\n\"delay\":\"3\"\n},{\n\"text\": \"TEXT\",\n\"quick_replies\": \n[{\n\"content_type\":\"text\",\n\"title\": \"[選項A]\",\n\"image_url\": \"https://d2lfcsub12kx0l.cloudfront.net/tw/article/img/201811/2018111605251613437_ExtraLargeSize-640x640.jpg\",\n\"payload\": \"P_01_01\"\n},{\n\"content_type\":\"text\",\n\"title\": \"[選項B]\",\n\"image_url\": \"https://d2lfcsub12kx0l.cloudfront.net/tw/article/img/201811/201811160735160687_ExtraLargeSize-640x640.jpg\",\n\"payload\": \"P_01_02\"\n}]\n}]\n#image_url可不放\n\n\n####單一卡片####\n[{\n\"title\": \"我是台灣特有種\",\n\"subtitle\":\"故事中哪一點打動你的心？\",\n\"image_url\": \"http://story.sogi.com.tw/showjpg/story_001.jpg\",\n\"buttons\": [\n{\n\"type\": \"postback\",\n\"title\": \"解決問題\",\n\"payload\": \"01_solve\"\n},{\n\"type\": \"postback\",\n\"title\": \"幫助別人\",\n\"payload\": \"02_help\"\n},{\n\"type\": \"postback\",\n\"title\": \"故事感動\",\n\"payload\": \"03_moving\"\n}]\n}]\n\n\n####多張卡片####\n[\n{\n\"title\": \"單手拿杯子，另一手做事\",\n\"subtitle\":\"單手拿杯子，另一手做事\",\n\"image_url\": \"http://story.sogi.com.tw/showjpg/story_001.jpg\",\n\"buttons\": [\n{\n\"type\": \"postback\",\n\"title\": \"我選A\",\n\"payload\": \"[keyword]_01_A\"\n}]},{\n\"title\": \"單手拿杯，另一手輕碰杯口\",\n\"subtitle\":\"單手拿杯，另一手輕碰杯口\",\n\"image_url\": \"http://story.sogi.com.tw/showjpg/story_002.jpg\",\n\"buttons\": [\n{\n\"type\": \"postback\",\n\"title\": \"我選B\",\n\"payload\": \"[keyword]_01_B\"\n}]},{\n\"title\": \"雙手拿\",\n\"subtitle\":\"雙手拿\",\n\"image_url\": \"http://story.sogi.com.tw/showjpg/story_003.jpg\",\n\"buttons\": [\n{\n\"type\": \"postback\",\n\"title\": \"我選C\",\n\"payload\": \"[keyword]_01_c\"\n}\n]}\n]");
  })
  $('#validate_json').on('click', function () {
    try {
      var c = $.parseJSON($("#wording_content").val());
      alert("有效的Json格式")
    }
    catch (err) {
      alert("無效的Json格式")
    }
  })
</script>