<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">網頁內容</a></li>
              <li class="active">文案</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong>快搜類別</strong>
              </div>
              <div class="card-body">
                <%= link_to "TEAFU.STORY.MESSAGE", wording_list_path(:type => "TEAFU.STORY.MESSAGE"), :class => "btn btn-outline-primary", :role => "button"%>
                <%= link_to "TEAFU.STORY.LEVEL", wording_list_path(:type => "TEAFU.STORY.LEVEL"), :class => "btn btn-outline-secondary", :role => "button"%>
                <%= link_to "TEAFU.MENU.B2B", wording_list_path(:type => "TEAFU.MENU.B2B"), :class => "btn btn-outline-success", :role => "button"%>
                <%= link_to "TEAFU.MENU.B2C", wording_list_path(:type => "TEAFU.MENU.B2C"), :class => "btn btn-outline-danger", :role => "button"%>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Table List</strong> <%= link_to "新增", wording_new_path%>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">名稱</th>
                        <th scope="col">編輯</th>
                        <th scope="col">狀態</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @wording_lists.each do |wording_list|%>
                        <tr>
                          <th scope="row"><%= wording_list.name %></th>
                          <td><%= link_to wording_list.name, wording_edit_path(wording_list.id) %></td>
                          <td><%= link_to render_enabled(wording_list.enabled), wording_delete_path(wording_list.id), :method => :delete %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= will_paginate @wording_lists if params[:type].blank?%>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>