<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">工作項目</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title"></strong><%= link_to "新增事項", new_work_project_path, :class => "btn btn-secondary"%>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">名稱</th>
                        <th scope="col">種類</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @work_projects.each do |project|%>
                        <tr>
                          <th scope="row"><%= project.id%></th>
                          <th><%= project.name %></th>
                          <th><%= render_is_farm_work(project.record_type) %></th>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= will_paginate @work_projects %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>