<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">工作項目</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <%= form_for @work_project, :url => work_projects_path(@work_project), :method => :post, :html => {:class => 'form-horizontal'} do |f| %>
                <div class="card-header">
                  <strong class="card-title"></strong>
                </div>
                <div class="card-body card-block">
                  <div class="form-group">
                    <%= f.label("事項名稱", :class => 'form-control-label') %>
                    <%= f.text_field(:name, :class => "form-control")%>
                  </div>
                  <div class="form-group">
                    <%= f.label("事項類型", :class => 'form-control-label') %>
                    <%= f.select :record_type, options_for_select([["農地耕作", "1"], ["採收後處理", "2"]])%>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                  </button>
                  <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>