<body>
  <nav class="pushy pushy-left bg-white">
     <%= render "shared/mobile" %>
  </nav>
  <div class="site-overlay"></div>
  <%= render "shared/header" %>
  <div id="main" class="push py-14 mt-10 mt-lg-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center text-success mb-10">
            <h1 class="font-weight-bold">友善工作牆</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="grid article">
        <div class="grid-sizer col-6 col-lg-3 post"></div>
        <div class="grid-item grid-item-2x col-12 col-lg-6 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @big_head[0] } if @big_head[0].present? %>
        </div>
        <div class="grid-item col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @small_rectangle[0] } if @small_rectangle[0].present? %>
        </div>
        <div class="grid-item col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @small_rectangle[1] } if @small_rectangle[1].present? %>
        </div>
        <div class="grid-item col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @small_rectangle[2] } if @small_rectangle[2].present? %>
        </div>
        <div class="grid-item grid-item-2x col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @straight_bar[0] } if @straight_bar[0].present? %>
        </div>
        <div class="grid-item col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @small_rectangle[3] } if @small_rectangle[3].present? %>
        </div>
        <div class="grid-item col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @small_rectangle[4] } if @small_rectangle[4].present? %>
        </div>
        <div class="grid-item grid-item-2x col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @straight_bar[1] } if @straight_bar[1].present? %>
        </div>
        <div class="grid-item grid-item-2x col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @straight_bar[2] } if @straight_bar[2].present? %>
        </div>
        <div class="grid-item col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @small_rectangle[5] } if @small_rectangle[5].present? %>
        </div>
        <div class="grid-item col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @small_rectangle[6] } if @small_rectangle[6].present? %>
        </div>
        <div class="grid-item col-6 col-lg-3 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @small_rectangle[7] } if @small_rectangle[7].present? %>
        </div>
        <div class="grid-item col-12 col-lg-6 post">
          <%= render :partial => "shared/work_wall_block", :locals => { :wwb => @bar[0] } if @bar[0].present? %>
        </div>
        <div class="post">
          <script src="/assets/sk2/js/vendor/masonry.pkgd.min.js"></script>
          <script>
            var $grid = $('.grid').masonry({
                itemSelector: '.grid-item',
                percentPosition: true,
                columnWidth: '.grid-sizer'
            });
            $grid.imagesLoaded().progress( function() {
                $grid.masonry();
            });
          </script>
        </div>
      </div>
      <div class="scroller-status text-center">
        <div class="infinite-scroll-request loader-ellips"></div>
        <div class="infinite-scroll-last alert alert-secondary">
          <div class="lead font-weight-bold">
            <i class="fas fa-spinner fa-pulse"></i> 載入中
          </div>
        </div>
        <div class="infinite-scroll-error alert alert-secondary">
          <div class="lead font-weight-bold">沒有頁面可以讀取了</div>
        </div>
      </div>
    </div>
  </div>
  <div id="page_modal" class="post">
    <% @big_head.each do |bh|%>
      <div class="modal fade" id="modal-detail_<%= bh.id %>" tabindex="-1" role="dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog modal-lg h-100" role="document">
          <div class="modal-content" style="overflow: auto !important;">
            <div class="row no-gutters">
              <div class="col-12 col-lg-7">
                <div class="d-table h-100">
                  <div class="d-table-cell align-middle">
                    <div id="carouselModal-<%= bh.id %>" class="carousel slide" data-ride="carousel">
                      <% if bh.work_diary.work_diary_images.size != 1 %>
                        <ol class="carousel-indicators">
                          <% bh.work_diary.work_diary_images.each_with_index do |image, f|%>
                            <li data-target="#carouselModal-<%= bh.id %>" data-slide-to="<%= f %>" <%= "class=\"active\"".html_safe if f == 0 %>></li>
                          <% end %>
                        </ol>
                      <% end %>
                      <div class="carousel-inner">
                        <% bh.work_diary.work_diary_images.each_with_index do |image, f|%>
                          <% if image.enabled == true %>
                            <div class="carousel-item<%= " active" if f == 0 %>" >
                              <%= render_tag(image.show_url) %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <a class="carousel-control-prev" href="#carouselModal-<%= bh.id %>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselModal-<%= bh.id %>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-5">
                <div class="pt-4 px-4 pb-0">
                  <div class="row align-items-center">
                    <div class="media col">
                      <img class="img-fluid rounded-circle" src="<%= bh.work_diary.user.farmer_profile.user_pic_url.present? ? bh.work_diary.user.farmer_profile.user_pic_url : "https://graph.facebook.com/#{bh.work_diary.user.authorizations[0].uid}/picture"%>" alt="" style="width: 50px">
                      <div class="media-body align-self-center ml-3">
                        <%= link_to bh.work_diary.user.farmer_profile.front_name, farm_path(bh.work_diary.user.id) %>
                      </div>
                    </div>
                    <div class="col text-right">
                      <div class="btn-group">
                        <a class="text-danger  btn btn-sm btn-like" href="javascript:AddFarmer(<%= bh.work_diary.user.id %>);">
                          <i class="<%= @is_favo.include?(bh.work_diary.user.id)? "fas" : "far" if @is_favo.present? %> fa-fw fa-lg fa-heart" id="heart_<%= bh.work_diary.user.id %>"></i>
                        </a>
                        <div class="dropdown">
                          <a class="text-dark btn btn-sm" href="javascript:void();" data-toggle="dropdown">
                            <i class="fas fa-fw fa-lg fa-share"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right p-1" style="min-width: auto;">
                            <a class="text-fb" href="#" onclick="fb_share_event(<%= "\"" + "#{YAML.load_file("config/customization.yml")[:root_domain]}#{farm_mobile_img_path(bh.work_diary.user.id, bh.work_diary.id )}" + "\"" %>)">
                              <i class="fab fa-fw fa-2x fa-facebook"></i>
                            </a>
                            <a class="text-line" href="#" style="display:none">
                              <i class="fab fa-fw fa-2x fa-line"></i>
                            </a>
                            <a class="text-dark" href="#" style="display:none">
                              <i class="far fa-fw fa-2x fa-envelope"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3 py-3 font-small comment">
                    <div class="">
                      <%= bh.work_diary.comment %>
                    </div>
                  </div>
                  <div class="d-none d-md-block">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-smile" href="javascript:send_mood(<%= bh.work_diary.id %>, 1);" remote=true>
                          <i id="like" class="far fa-fw fa-lg fa-smile"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= bh.work_diary.smile.to_i %> 個喜歡</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-meh" href="javascript:send_mood(<%= bh.work_diary.id %>, 2);">
                          <i id="like" class="far fa-fw fa-lg fa-meh"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= bh.work_diary.general.to_i %> 個普通</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-frown" href="javascript:send_mood(<%= bh.work_diary.id %>, 3);">
                          <i id="like" class="far fa-fw fa-lg fa-frown"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= bh.work_diary.dislike.to_i %> 個不喜歡</span>
                      </li>
                    </ul>
                    <div class="text-muted font-small mt-1">
                      <%= bh.work_diary.diary_time.strftime("%F %H:%M")%>
                    </div>
                    <div class="mt-1">
                      <div class="fb-comments" data-width="100%" data-href="<%= "#{YAML.load_file("config/customization.yml")[:root_domain]}/farmers/#{bh.work_diary.user.id}/mobile_img/#{bh.work_diary.id}"%>" data-numposts="1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% @small_rectangle.each do |sr|%>
      <div class="modal fade" id="modal-detail_<%= sr.id %>" tabindex="-1" role="dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog modal-lg h-100" role="document">
          <div class="modal-content" style="overflow: auto !important;">
            <div class="row no-gutters">
              <div class="col-12 col-lg-7">
                <div class="d-table h-100">
                  <div class="d-table-cell align-middle">
                    <div id="carouselModal-<%= sr.id %>" class="carousel slide" data-ride="carousel">
                      <% if sr.work_diary.work_diary_images.size != 1 %>
                        <ol class="carousel-indicators">
                          <% sr.work_diary.work_diary_images.each_with_index do |image, f|%>
                            <li data-target="#carouselModal-<%= sr.id %>" data-slide-to="<%= f %>" <%= "class=\"active\"".html_safe if f == 0 %>></li>
                          <% end %>
                        </ol>
                      <% end %>
                      <div class="carousel-inner">
                        <% sr.work_diary.work_diary_images.each_with_index do |image, f|%>
                          <% if image.enabled == true %>
                            <div class="carousel-item<%= " active" if f == 0 %>" >
                              <%= render_tag(image.show_url) %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <a class="carousel-control-prev" href="#carouselModal-<%= sr.id %>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselModal-<%= sr.id %>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-5">
                <div class="pt-4 px-4 pb-0">
                  <div class="row align-items-center">
                    <div class="media col">
                      <img class="img-fluid rounded-circle" src="<%= sr.work_diary.user.farmer_profile.user_pic_url.present? ? sr.work_diary.user.farmer_profile.user_pic_url : "https://graph.facebook.com/#{sr.work_diary.user.authorizations[0].uid}/picture"%>" alt="" style="width: 50px">
                      <div class="media-body align-self-center ml-3">
                        <%= link_to sr.work_diary.user.farmer_profile.front_name, farm_path(sr.work_diary.user.id) %>
                      </div>
                    </div>
                    <div class="col text-right">
                      <div class="btn-group">
                        <a class="text-danger  btn btn-sm btn-like" href="javascript:AddFarmer(<%= sr.work_diary.user.id %>);">
                          <i class="<%= @is_favo.include?(sr.work_diary.user.id)? "fas" : "far" if @is_favo.present? %> fa-fw fa-lg fa-heart" id="heart_<%= sr.work_diary.user.id %>"></i>
                        </a>
                        <div class="dropdown">
                          <a class="text-dark btn btn-sm" href="javascript:void();" data-toggle="dropdown">
                            <i class="fas fa-fw fa-lg fa-share"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right p-1" style="min-width: auto;">
                            <a class="text-fb" href="#" onclick="fb_share_event(<%= "\"" + "#{YAML.load_file("config/customization.yml")[:root_domain]}#{farm_mobile_img_path(sr.work_diary.user.id, sr.work_diary.id )}" + "\"" %>)">
                              <i class="fab fa-fw fa-2x fa-facebook"></i>
                            </a>
                            <a class="text-line" href="#" style="display:none">
                              <i class="fab fa-fw fa-2x fa-line"></i>
                            </a>
                            <a class="text-dark" href="#" style="display:none">
                              <i class="far fa-fw fa-2x fa-envelope"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3 py-3 font-small comment">
                    <div class="">
                      <%= sr.work_diary.comment %>
                    </div>
                  </div>
                  <div class="d-none d-md-block">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-smile" href="javascript:send_mood(<%= sr.work_diary.id %>, 1);" remote=true>
                          <i id="like" class="far fa-fw fa-lg fa-smile"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= sr.work_diary.smile.to_i %> 個喜歡</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-meh" href="javascript:send_mood(<%= sr.work_diary.id %>, 2);">
                          <i id="like" class="far fa-fw fa-lg fa-meh"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= sr.work_diary.general.to_i %> 個普通</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-frown" href="javascript:send_mood(<%= sr.work_diary.id %>, 3);">
                          <i id="like" class="far fa-fw fa-lg fa-frown"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= sr.work_diary.dislike.to_i %> 個不喜歡</span>
                      </li>
                    </ul>
                    <div class="text-muted font-small mt-1">
                      <%= sr.work_diary.diary_time.strftime("%F %H:%M")%>
                    </div>
                    <div class="mt-1">
                      <div class="fb-comments" data-width="100%" data-href="<%= "#{YAML.load_file("config/customization.yml")[:root_domain]}/farmers/#{sr.work_diary.user.id}/mobile_img/#{sr.work_diary.id}"%>" data-numposts="1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% @straight_bar.each do |sb|%>
      <div class="modal fade" id="modal-detail_<%= sb.id %>" tabindex="-1" role="dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog modal-lg h-100" role="document">
          <div class="modal-content" style="overflow: auto !important;">
            <div class="row no-gutters">
              <div class="col-12 col-lg-7">
                <div class="d-table h-100">
                  <div class="d-table-cell align-middle">
                    <div id="carouselModal-<%= sb.id %>" class="carousel slide" data-ride="carousel">
                      <% if sb.work_diary.work_diary_images.size != 1 %>
                        <ol class="carousel-indicators">
                          <% sb.work_diary.work_diary_images.each_with_index do |image, f|%>
                            <li data-target="#carouselModal-<%= sb.id %>" data-slide-to="<%= f %>" <%= "class=\"active\"".html_safe if f == 0 %>></li>
                          <% end %>
                        </ol>
                      <% end %>
                      <div class="carousel-inner">
                        <% sb.work_diary.work_diary_images.each_with_index do |image, f|%>
                          <% if image.enabled == true %>
                            <div class="carousel-item<%= " active" if f == 0 %>" >
                              <%= render_tag(image.show_url) %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <a class="carousel-control-prev" href="#carouselModal-<%= sb.id %>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselModal-<%= sb.id %>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-5">
                <div class="pt-4 px-4 pb-0">
                  <div class="row align-items-center">
                    <div class="media col">
                      <img class="img-fluid rounded-circle" src="<%= sb.work_diary.user.farmer_profile.user_pic_url.present? ? sb.work_diary.user.farmer_profile.user_pic_url : "https://graph.facebook.com/#{sb.work_diary.user.authorizations[0].uid}/picture"%>" alt="" style="width: 50px">
                      <div class="media-body align-self-center ml-3">
                        <%= link_to sb.work_diary.user.farmer_profile.front_name, farm_path(sb.work_diary.user.id) %>
                      </div>
                    </div>
                    <div class="col text-right">
                      <div class="btn-group">
                        <a class="text-danger  btn btn-sm btn-like" href="javascript:AddFarmer(<%= sb.work_diary.user.id %>);">
                          <i class="<%= @is_favo.include?(sb.work_diary.user.id)? "fas" : "far" if @is_favo.present? %> fa-fw fa-lg fa-heart" id="heart_<%= sb.work_diary.user.id %>"></i>
                        </a>
                        <div class="dropdown">
                          <a class="text-dark btn btn-sm" href="javascript:void();" data-toggle="dropdown">
                            <i class="fas fa-fw fa-lg fa-share"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right p-1" style="min-width: auto;">
                            <a class="text-fb" href="#" onclick="fb_share_event(<%= "\"" + "#{YAML.load_file("config/customization.yml")[:root_domain]}#{farm_mobile_img_path(sb.work_diary.user.id, sb.work_diary.id )}" + "\"" %>)">
                              <i class="fab fa-fw fa-2x fa-facebook"></i>
                            </a>
                            <a class="text-line" href="#" style="display:none">
                              <i class="fab fa-fw fa-2x fa-line"></i>
                            </a>
                            <a class="text-dark" href="#" style="display:none">
                              <i class="far fa-fw fa-2x fa-envelope"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3 py-3 font-small comment">
                    <div class="">
                      <%= sb.work_diary.comment %>
                    </div>
                  </div>
                  <div class="d-none d-md-block">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-smile" href="javascript:send_mood(<%= sb.work_diary.id %>, 1);" remote=true>
                          <i id="like" class="far fa-fw fa-lg fa-smile"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= sb.work_diary.smile.to_i %> 個喜歡</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-meh" href="javascript:send_mood(<%= sb.work_diary.id %>, 2);">
                          <i id="like" class="far fa-fw fa-lg fa-meh"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= sb.work_diary.general.to_i %> 個普通</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-frown" href="javascript:send_mood(<%= sb.work_diary.id %>, 3);">
                          <i id="like" class="far fa-fw fa-lg fa-frown"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= sb.work_diary.dislike.to_i %> 個不喜歡</span>
                      </li>
                    </ul>
                    <div class="text-muted font-small mt-1">
                      <%= sb.work_diary.diary_time.strftime("%F %H:%M")%>
                    </div>
                    <div class="mt-1">
                      <div class="fb-comments" data-width="100%" data-href="<%= "#{YAML.load_file("config/customization.yml")[:root_domain]}/farmers/#{sb.work_diary.user.id}/mobile_img/#{sb.work_diary.id}"%>" data-numposts="1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% @bar.each do |bar|%>
      <div class="modal fade" id="modal-detail_<%= bar.id %>" tabindex="-1" role="dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog modal-lg h-100" role="document">
          <div class="modal-content" style="overflow: auto !important;">
            <div class="row no-gutters">
              <div class="col-12 col-lg-7">
                <div class="d-table h-100">
                  <div class="d-table-cell align-middle">
                    <div id="carouselModal-<%= bar.id %>" class="carousel slide" data-ride="carousel">
                      <% if bar.work_diary.work_diary_images.size != 1 %>
                        <ol class="carousel-indicators">
                          <% bar.work_diary.work_diary_images.each_with_index do |image, f|%>
                            <li data-target="#carouselModal-<%= bar.id %>" data-slide-to="<%= f %>" <%= "class=\"active\"".html_safe if f == 0 %>></li>
                          <% end %>
                        </ol>
                      <% end %>
                      <div class="carousel-inner">
                        <% bar.work_diary.work_diary_images.each_with_index do |image, f|%>
                          <% if image.enabled == true %>
                            <div class="carousel-item<%= " active" if f == 0 %>" >
                              <%= render_tag(image.show_url) %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <a class="carousel-control-prev" href="#carouselModal-<%= bar.id %>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselModal-<%= bar.id %>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-5">
                <div class="pt-4 px-4 pb-0">
                  <div class="row align-items-center">
                    <div class="media col">
                      <img class="img-fluid rounded-circle" src="<%= bar.work_diary.user.farmer_profile.user_pic_url.present? ? bar.work_diary.user.farmer_profile.user_pic_url : "https://graph.facebook.com/#{bar.work_diary.user.authorizations[0].uid}/picture"%>" alt="" style="width: 50px">
                      <div class="media-body align-self-center ml-3">
                        <%= link_to bar.work_diary.user.farmer_profile.front_name, farm_path(bar.work_diary.user.id) %>
                      </div>
                    </div>
                    <div class="col text-right">
                      <div class="btn-group">
                        <a class="text-danger  btn btn-sm btn-like" href="javascript:AddFarmer(<%= bar.work_diary.user.id %>);">
                          <i class="<%= @is_favo.include?(bar.work_diary.user.id)? "fas" : "far" if @is_favo.present? %> fa-fw fa-lg fa-heart" id="heart_<%= bar.work_diary.user.id %>"></i>
                        </a>
                        <div class="dropdown">
                          <a class="text-dark btn btn-sm" href="javascript:void();" data-toggle="dropdown">
                            <i class="fas fa-fw fa-lg fa-share"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right p-1" style="min-width: auto;">
                            <a class="text-fb" href="#" onclick="fb_share_event(<%= "\"" + "#{YAML.load_file("config/customization.yml")[:root_domain]}#{farm_mobile_img_path(bar.work_diary.user.id, bar.work_diary.id )}" + "\"" %>)">
                              <i class="fab fa-fw fa-2x fa-facebook"></i>
                            </a>
                            <a class="text-line" href="#" style="display:none">
                              <i class="fab fa-fw fa-2x fa-line"></i>
                            </a>
                            <a class="text-dark" href="#" style="display:none">
                              <i class="far fa-fw fa-2x fa-envelope"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3 py-3 font-small comment">
                    <div class="">
                      <%= bar.work_diary.comment %>
                    </div>
                  </div>
                  <div class="d-none d-md-block">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-smile" href="javascript:send_mood(<%= bar.work_diary.id %>, 1);" remote=true>
                          <i id="like" class="far fa-fw fa-lg fa-smile"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= bar.work_diary.smile.to_i %> 個喜歡</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-meh" href="javascript:send_mood(<%= bar.work_diary.id %>, 2);">
                          <i id="like" class="far fa-fw fa-lg fa-meh"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= bar.work_diary.general.to_i %> 個普通</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                        <a class="text-primary btn-frown" href="javascript:send_mood(<%= bar.work_diary.id %>, 3);">
                          <i id="like" class="far fa-fw fa-lg fa-frown"></i>
                        </a>
                        <span class="badge badge-light badge-pill"><%= bar.work_diary.dislike.to_i %> 個不喜歡</span>
                      </li>
                    </ul>
                    <div class="text-muted font-small mt-1">
                      <%= bar.work_diary.diary_time.strftime("%F %H:%M")%>
                    </div>
                    <div class="mt-1">
                      <div class="fb-comments" data-width="100%" data-href="<%= "#{YAML.load_file("config/customization.yml")[:root_domain]}/farmers/#{bar.work_diary.user.id}/mobile_img/#{bar.work_diary.id}"%>" data-numposts="1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <script>
      $("#modal").append($("#page_modal").html());
      $("#page_modal").remove();
      // FB.XFBML.parse();
    </script>
  </div>
  <%= render "shared/footer" %>
  <% content_for :javascript do %>
    <!-- Single -->
    <script src="/assets/sk2/js/vendor/masonry.pkgd.min.js"></script>
    <script>
      var $grid = $('.grid').masonry({
          itemSelector: '.grid-item',
          percentPosition: true,
          columnWidth: '.grid-sizer'
      });
      $grid.imagesLoaded().progress( function() {
          $grid.masonry();
      });
      $('.article').infiniteScroll({
        path: 'page/{{#}}',
        append: '.post',
        status: ".scroller-status"
      });
    </script>
  <% end %>
</body>