<body>
  <nav class="pushy pushy-left bg-white">
     <%= render "shared/mobile" %>
  </nav>
  <div class="site-overlay"></div>
  <%= render "shared/header" %>
  <div id="main" class="push py-14 mt-10 mt-lg-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center text-success mb-10">
            <h1 class="font-weight-bold">友善農夫</h1>
            <div class="h3">工作牆</div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 mb-6">
          <div class="border-top border-bottom border-gray py-3">
            <div class="row">
              <div class="col-12 col-lg-2 my-2 text-center">
                <img class="img-fluid rounded-circle" src="https://graph.facebook.com/<%= @farmer.user_profile.fb_uid%>/picture" alt="" style="width: 150px;">
              </div>
              <div class="col-12 col-lg-10 my-2">
                <div class="mb-2">
                  <div class="text-center text-md-left">
                    <span class="h5"><%= @farmer.user_profile.front_name%></span>
                    <span class="ml-3">
                    	<%= link_to @farmer.user_profile.fb_url, class: "text-fb", target: "_blank" do %>
                        <i class="fab fa-fw fa-lg fa-facebook"></i>
                      <% end %>
                      <a class="text-danger btn-like" href="javascript:void();">
                        <i class="far fa-fw fa-lg fa-heart"></i>
                      </a>
                    </span>
                  </div>
                </div>
                <ul class="nav nav-info">
                  <li class="nav-item my-1">
                  	<%= link_to farmer_path(@farmer.id), class: "nav-link" do%>
                  		<u><%= @farmer.user_profile.farm_name%></u>
                  	<% end %>
                  </li>
                  <li class="nav-item my-1">
                  	<%= link_to work_record_farmer_path(@farmer.id), class: "nav-link" do %>
                  		<u>農場工作記錄</u>
                  	<% end %>
                  </li>
                  <li class="nav-item my-1">
                    <div class="nav-link">
                      參與 <a href="" onclick="alert( '尚未開放' );"><u>10</u></a> 個活動
                    </div>
                  </li>
                  <li class="nav-item my-1">
                    <div class="nav-link">
                      獲得 <a href=""><u>10</u></a> 位友善會員關注
                    </div>
                  </li>
                </ul>
                <div class="mt-4 text-row-2 text-muted">
                  <%= @farmer.user_profile.introduce%>
                </div>
              </div>
          	</div>
          </div>
        </div>
      </div>
      <div class="row article">
        <% @work_records.each_with_index do |wr| %>
          <div class="col-6 col-lg-4 my-3 post">
            <%= link_to "javascript:void();",class: "position-relative d-block btn-info", data: {toggle: "modal", target:"#modal-detail_#{wr.id}"} do %>
              <%= "<div class='multi p-2'><i class='far fa-clone'></i></div>".html_safe if wr.work_record_images.size > 1%>
              <div class="position-absolute d-flex flex-column w-100 h-100 p-2 text-white">
                <div class="mb-auto"></div>
                <div class="text-center">
                  <div class="my-auto">
  	                <div class="align-self-center">工作時間：<%= wr.work_time.strftime('%Y-%m-%d' )%></div>
  	                <div class="">工作項目：<%= wr.work_project %></div>
                  </div>
                </div>
                <div class="row no-gutters mt-auto">
                  <div class="col">
                    <i class="far fa-comment-alt"></i> <%= wr.work_record_reply.size %>
                  </div>
                  <div class="col-8 text-right">
                    <span class="text-white ml-1" href=""><i class="far fa-smile"></i> <%= wr.smile.to_i %></span>
                    <span class="text-white ml-1" href=""><i class="far fa-meh"></i> <%= wr.general.to_i %></span>
                    <span class="text-white ml-1" href=""><i class="far fa-frown"></i> <%= wr.dislike.to_i %></span>
                  </div>
                </div>
              </div>
              <%= image_tag wr.work_record_images.first.try(:url), class: "img-fluid text-center"%>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="scroller-status text-center">
        <div class="infinite-scroll-request loader-ellips"></div>
        <div class="infinite-scroll-last alert alert-secondary">
          <div class="lead font-weight-bold">
            <i class="fas fa-spinner fa-pulse"></i> 載入中
          </div>
        </div>
        <div class="infinite-scroll-error alert alert-secondary">
          <div class="lead font-weight-bold">沒有頁面可以讀取了</div>
        </div>
      </div>
    </div>
  </div>
  <% @work_record_all.each_with_index do |wd| %>
    <div class="modal fade" id="modal-detail_<%= wd.id %>" tabindex="-1" role="dialog">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="nav-modal">
        <a class="btn-left" href="javascript:void();">
          <i class="fas fa-2x fa-chevron-left"></i>
        </a>
        <a class="btn-right" href="javascript:void();">
          <i class="fas fa-2x fa-chevron-right"></i>
        </a>
      </div>
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="overflow: auto !important;">
          <div class="row no-gutters">
            <div class="col-12 col-lg-7">
              <div class="slider-modal">
                <% wd.work_record_images.each do |image|%>
                  <div><%= image_tag image.url , class: "img-fluid d-block" %></div>
                <% end %>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="pt-4 px-4 pb-0">
                <div class="row align-items-center">
                  <div class="media col">
                    <img class="img-fluid rounded-circle" src="https://graph.facebook.com/<%= @farmer.user_profile.fb_uid%>/picture" alt="" style="width: 50px">
                    <div class="media-body align-self-center ml-3"><%= wd.user.user_profile.front_name%></div>
                  </div>
                  <div class="col text-right">
                    <div class="btn-group">
                      <a class="text-danger btn btn-sm btn-like" href="javascript:void();">
                        <i class="far fa-fw fa-lg fa-heart"></i>
                      </a>
                      <div class="dropdown">
                        <a class="text-dark btn btn-sm" href="javascript:void();" data-toggle="dropdown">
                          <i class="fas fa-fw fa-lg fa-share"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-1" style="min-width: auto;">
                          <a class="text-fb" href="#">
                            <i class="fab fa-fw fa-2x fa-facebook"></i>
                          </a>
                          <a class="text-line" href="#">
                            <i class="fab fa-fw fa-2x fa-line"></i>
                          </a>
                          <a class="text-dark" href="#">
                            <i class="far fa-fw fa-2x fa-envelope"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-md-none border-top mt-3">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                      <a class="text-primary btn-smile" href="javascript:send_mood(<%= wd.id %>, 1);">
                        <i id="like" class="far fa-lg fa-smile"></i>
                      </a>
                      <span class="badge badge-light badge-pill"><%= wd.smile.to_i %> 個喜歡</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                      <a class="text-primary btn-meh" href="javascript:send_mood(<%= wd.id %>, 2);">
                          <i id="like" class="far fa-lg fa-meh"></i>
                      </a>
                      <span class="badge badge-light badge-pill"><%= wd.general.to_i %> 個普通</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                      <a class="text-primary btn-frown" href="javascript:send_mood(<%= wd.id %>, 3);">
                          <i id="like" class="far fa-lg fa-frown"></i>
                      </a>
                      <span class="badge badge-light badge-pill"><%= wd.dislike.to_i %> 個不喜歡</span>
                    </li>
                  </ul>
                  <form class="mt-3">
                    <a class="" href="">請先登入</a>
                    <div class="form-row">
                      <div class="col-9">
                        <textarea class="form-control bg-light" rows="1" placeholder="留言..."></textarea>
                      </div>
                      <div class="col">
                        <button class="btn btn-block btn-outline-info">送出</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="mt-3 py-3 font-small comment">
                  <div class="">
                    <%= "#{wd.work_time.strftime('%Y-%m-%d' )}進行#{wd.work_project}" %>
                  </div>
                  <div class="mt-2" id="relpy_list_<%= wd.id%>">
                    <% wd.work_record_reply.each do |reply|%>
                      <div class="mt-1"><strong class="mr-2"><%= reply.user.user_profile.front_name%></strong><%= reply.content%></div>
                    <% end %>
                  </div>
                </div>
                <div class="d-none d-md-block">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                      <a class="text-primary btn-smile" href="javascript:send_mood(<%= wd.id %>, 1);" remote=true>
                        <i id="like" class="far fa-lg fa-smile"></i>
                      </a>
                      <span class="badge badge-light badge-pill"><%= wd.smile.to_i %> 個喜歡</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                      <a class="text-primary btn-meh" href="javascript:send_mood(<%= wd.id %>, 2);">
                        <i id="like" class="far fa-lg fa-meh"></i>
                      </a>
                      <span class="badge badge-light badge-pill"><%= wd.general.to_i %> 個普通</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-0">
                      <a class="text-primary btn-frown" href="javascript:send_mood(<%= wd.id %>, 3);">
                        <i id="like" class="far fa-lg fa-frown"></i>
                      </a>
                      <span class="badge badge-light badge-pill"><%= wd.dislike.to_i %> 個不喜歡</span>
                    </li>
                  </ul>
                  <% if current_user.present? %>
                    <%= form_for @wrr, :url => work_record_replies_path(), :method => :post, :html => {:class => 'mt-1'}, :remote => true do |f| %>
                      <div class="form-row">
                        <div class="col-9">
                          <%= f.text_area :content, class: "form-control bg-light", rows: 1, placeholder: "留言..." %>
                          <%= f.hidden_field :user_id, :value => current_user.id%>
                          <%= f.hidden_field :work_record_id, :value => wd.id%>
                        </div>
                        <div class="col">
                          <%= f.submit "送出", class: "btn btn-block btn-outline-info" %>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <a class="" href="">請先登入</a>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "shared/footer" %>
</body>
<% content_for :javascript do %>
  <script>
    $('.article').infiniteScroll({
      path: '<%= params[:id]%>?page={{#}}',
      append: '.post',
      status: ".scroller-status"
    });
    function send_mood(record_id, mood) {
      <% if current_user.present? %>
      $.get( "/work_records/mood", { work_record_id: record_id, user_id: <%= current_user.id %>, mood: mood } )
      .done(function( data ) {
        data;
      });
      <%else%>
      alert("請先登入");
      <% end %>
    }
  </script>
<% end %>