<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">產銷班管理</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Table List</strong>
                <%= link_to "新增", new_ps_group_path, :class => "btn btn-secondary"%>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">名稱</th>
                        <th scope="col">編輯</th>
                        <th scope='col'>狀態</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @ps_groups.each do |ps_group|%>
                        <tr>
                          <th scope="row"><%= ps_group.id %></th>
                          <td><%= ps_group.name%></td>
                          <th><%= link_to "編輯", edit_ps_group_path(ps_group.id) %></th>
                          <td><%= link_to render_enabled(ps_group.enabled), ps_group_path(ps_group.id), :method => :delete%></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= will_paginate @ps_groups %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>