<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">網頁內容</a></li>
              <li class="active">文章</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Table List</strong> <%= link_to "新增", new_story_path%>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">標題</th>
                        <th scope="col">網址</th>
                        <th scope="col">編輯</th>
                        <th scope="col">刪除</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @story.each do |story|%>
                        <tr>
                          <th scope="row"><%= story.id %></th>
                          <td><%= story.title %></td>
                          <td><%= link_to "#{story_path(story.id)}",story_path(story.id), target: "_blank" %></td>
                          <td><%= link_to "[edit]", edit_story_path(story.id)%></td>
                          <td><%= link_to "[del]", story_path(story.id), :method => :delete %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= will_paginate @story %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>