<body id="top">
  <nav class="pushy pushy-left bg-white">
    <%= render "shared/mobile" %>
  </nav>
  <div class="site-overlay"></div>
  <%= render "shared/header" %>
  <div id="main" class="push py-14 mt-10 mt-lg-12">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
          <div class="row bg-white bs">
            <div class="col-12 col-lg-6 px-8 pt-8 pb-20 py-lg-8 text-center bg-login">
              <div class="mb-20 mb-lg-0">
                <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-fb" do %>
                  <div class="float-left">
                    <i class="fab fa-lg fa-fw fa-facebook-f"></i>
                  </div>
                  <span>使用Facebook登入</span>
                <% end %>
              </div>
            </div>
            <% session[:redirect_path] = request.referer %>
            <div class="col-12 col-lg-6 p-8">
              <div class="row px-10">
                <div class="col">
                  <img class="img-fluid" src="/assets/sk2/img/ui/icon-garlands.png" alt="">
                </div>
                <div class="col">
                  <img class="img-fluid" src="/assets/sk2/img/ui/icon-cake.png" alt="">
                </div>
                <div class="col">
                  <img class="img-fluid" src="/assets/sk2/img/ui/icon-like.png" alt="">
                </div>
              </div>
              <div class="text-center mt-3 text-primary">會員專屬！個人化茶諮詢服務</div>
              <div class="mt-5">
                <p>
                  登入會員必須授權FB姓名和EMAIL信箱，授權生日和性別即可進行個人化茶諮詢服務。
                </p>
                <p>
                  登入會員即表示同意<a href="<%= "#{YAML.load_file("config/customization.yml")[:campaign_domain]}/terms"%>" target="_blank"><u>服務條款</u></a>和<a href="<%= "#{YAML.load_file("config/customization.yml")[:campaign_domain]}/privacy"%>" target="_blank"><u>隱私政策</u></a>。
                </p>
                <p class="mb-0 text-center">
                  <a href="<%= "#{YAML.load_file("config/customization.yml")[:campaign_domain]}/about#qa" %>"><u>Facebook登入遇到問題?</u></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "shared/footer" %>
  <div id="fb-root"></div>

</body>

<!-- <body class="bg-dark">
  <div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
      <div class="login-content">
        <div class="login-logo" style="background: #f1f2f7;">
          <a href="<%= root_path %>">
            <img class="align-content" src="https://i.imgur.com/I8tz1jd.jpg" alt="" style="height: 46px;">農業科技資訊系統
          </a>
        </div>
        <div class="flash">
          <%# flash.each do |type, message| -%>
            <div class="message <%#= type %>">
              <p><%#= message %></p>
            </div>
          <%# end -%>
        </div>
        <div class="login-form">
          <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label>Email address</label>
              <%#= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"%>
            </div>
            <div class="form-group">
              <label>Password</label>
              <%#= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
            </div>
            <div class="checkbox">
              <label>
                <%#= f.check_box :remember_me %> Remember Me
              </label>
              <label class="pull-right">
                  <a href="#">Forgotten Password?</a>
              </label>
            </div>
            <%#= f.submit "Log in", class: "btn btn-success btn-flat m-b-30 m-t-30" %>
          <%# end %>
        </div>
      </div>
    </div>
  </div> -->

  <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>
 </body>