<body>
	<nav class="pushy pushy-left bg-white">
	   <%= render "shared/mobile" %>
	</nav>
	<div class="site-overlay"></div>
	<%= render "shared/header" %>
	<div id="main" class="push mt-10 mt-lg-12">
		<div class="slider-headlines">
			<% @story.each do |story|%>
				<%= link_to story_path(story.id), :class => "card card-headlines" do %>
        	<%= image_tag story.story_image.url_headline, class: "card-img d-none d-xl-block" %>
     			<%= image_tag story.story_image.url_cover, class: "card-img d-xl-none" %>
          <div class="card-img-overlay">
            <div>
              <div class="h1 mb-4 mb-lg-14 d-block text-white"><%= story.title%></div>
              <div class="d-none d-sm-block">
                <div class="btn btn-outline-light px-10">繼續閱讀</div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% @project.each do |project|%>
      	<%= link_to "#{YAML.load_file("config/customization.yml")[:campaign_domain]}/campaigns/#{project.slug}", :class => "card card-headlines" do %>
        	<%= image_tag project.campaign_image.landing_page, class: "card-img d-none d-xl-block" %>
     			<%= image_tag project.campaign_image.campaign_path, class: "card-img d-xl-none" %>
          <div class="card-img-overlay">
            <div>
              <div class="h1 mb-4 mb-lg-14 d-block text-white"><%= project.title%></div>
              <div class="">
                <div class="row mb-4 mb-lg-14 align-items-center">
                  <div class="col-12 col-lg-4 my-1">
                    <i class="far fa-fw fa-clock"></i> <%= render_remain_day(project.end_date) %>
                  </div>
                  <div class="col-12 col-lg-4 my-1">
                    <i class="fas fa-fw fa-dollar-sign"></i> <span class="">目前達成金額</span>
                    <strong><%= number_to_currency(project.amount_raised, precision: 0) %></strong>
                  </div>
                  <div class="col-12 col-lg-4 my-1 text-center">
                    <div class="progress w-75 mx-auto">
                      <div class="progress-bar" role="progressbar" style="width: <%= campaign_percentage(project) %>;" aria-valuenow="<%= campaign_percentage(project) %>" aria-valuemin="0" aria-valuemax="100"><%= campaign_percentage(project) %></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-none d-sm-block">
                <div class="btn btn-outline-light px-10">查看內容</div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mb-4 py-10">
      <div class="text-center mb-10">
        <div class="h1 font-weight-bold">工作牆</div>
      </div>
      <div class="row no-gutters">
        <% @work_walls.each do |ww|%>
          <div class="col-6 col-md-4 col-lg-2">
            <%= link_to farmer_mobile_img_path(ww.work_diary.owner_id,ww.work_diary_id), :class => "card card-wall" do %>
              <img class="card-img" src="<%= ww.cover_url%>">
              <div class="card-img-overlay">
                <%= ww.work_diary.comment%>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-center mt-6">
        <%= link_to "更多", work_walls_path, :class => "btn btn-outline-primary px-10"%>
      </div>
    </div>
    <div class="container-fluid bg-light mb-4 py-10">
      <div class="container">
        <%= render_big_project_title(@att_projects, @new_projects) %>
        <ul class="nav nav-index justify-content-center mb-7">
          <%= render_att_project_title(@att_projects)%>
          <%= render_hot_project(@att_projects, @new_projects)%>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-project-hot">
            <div class="row">
              <% @att_projects.each do |att|%>
                <div class="col-12 col-sm-6 col-lg-3 my-3">
                  <%= link_to "#{@project_domain}campaigns/#{att.slug}", :class => "item" do %>
                    <div class="d-block position-relative">
                      <%= campaign_tag(att)%>
                      <img class="img-fluid text-center" src="<%= att.campaign_image.try(:campaign_path) %>" alt="">
                    </div>
                    <div class="p-2">
                      <div class="item-title text-black">
                        <%= att.title %>
                      </div>
                      <div class="text-muted mb-2">
                        <small>
                          <i class="far fa-user"></i> <%= att.name%>
                        </small>
                        <small class="item-desc"><%= att.claim%></small>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= campaign_percentage(att) %>;" aria-valuenow="<%= campaign_percentage(att) %>" aria-valuemin="0" aria-valuemax="100"><%= campaign_percentage(att) %></div>
                      </div>
                      <div class="mt-2 text-dark">
                        <small class="d-block">
                          <i class="far fa-fw fa-clock"></i> <%= render_remain_day(att.end_date) %>
                        </small>
                        <small class="d-block">
                          <i class="fas fa-fw fa-dollar-sign"></i> <span class="text-muted">目前達成金額</span>
                          <strong><%= number_to_currency(att.amount_raised, precision: 0)%></strong>
                        </small>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="text-center my-3">
              <%= link_to "更多", "#{@project_domain}", :class => "btn btn-outline-primary px-10"%>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-project-new">
            <div class="row">
              <% @new_projects.each do |new_p|%>
                <div class="col-12 col-sm-6 col-lg-3 my-3">
                  <%= link_to "#{@project_domain}campaigns/#{new_p.slug}", :class => "item" do %>
                    <div class="d-block position-relative">
                      <%= campaign_tag(new_p)%>
                      <img class="img-fluid text-center" src="<%= new_p.campaign_image.try(:campaign_path) %>" alt="">
                    </div>
                    <div class="p-2">
                      <div class="item-title text-black">
                        <%= new_p.title %>
                      </div>
                      <div class="text-muted mb-2">
                        <small>
                          <i class="far fa-user"></i> <%= new_p.name%>
                        </small>
                        <small class="item-desc">
                          <%= new_p.claim%>
                        </small>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= campaign_percentage(new_p) %>;" aria-valuenow="<%= campaign_percentage(new_p) %>" aria-valuemin="0" aria-valuemax="100"><%= campaign_percentage(new_p) %></div>
                      </div>
                      <div class="mt-2 text-dark">
                        <small class="d-block">
                          <i class="far fa-fw fa-clock"></i> <%= render_remain_day(new_p.end_date) %>
                        </small>
                        <small class="d-block">
                          <i class="fas fa-fw fa-dollar-sign"></i> <span class="text-muted">目前達成金額</span>
                          <strong><%= number_to_currency(new_p.amount_raised, precision: 0)%></strong>
                        </small>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="text-center my-3">
              <%= link_to "更多", "#{@project_domain}", :class => "btn btn-outline-primary px-10"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-10">
      <div class="container">
        <div class="text-center mb-3">
          <div class="h1 font-weight-bold"><%= @story_cat_one[0].story_cat.name %></div>
        </div>
        <!-- <ul class="nav nav-index justify-content-center mb-7">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-article-1">咖啡</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-article-2">有機蔬果</a>
          </li>
        </ul> -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-article-1">
            <div class="row">
              <% @story_cat_one.each do |story|%>
                <div class="col-12 col-md-4 my-3 post">
                  <%= link_to story_path(story.id) do%>
                    <div class="text-center">
                      <%= image_tag story.story_image.try(:url_cover), :class => "img-fluid" %>
                    </div>
                    <div class="my-1"></div>
                    <div class="lead my-1 text-row-1 text-dark font-weight-bold"><%= story.title%></div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="text-center my-3">
              <%= link_to "更多", list_stories_path, :class => "btn btn-outline-primary px-10"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4 py-10">
      <div class="text-center mb-10">
        <div class="h1 font-weight-bold"><%= @story_cat_two[0].story_cat.name %></div>
      </div>
      <div class="row no-gutters">
        <% @story_cat_two.each do |story|%>
          <div class="col-12 col-lg-6">
            <%= link_to story_path(story.id), :class => "row no-gutters align-items-center bg-light btn-story" do%>
              <div class="col-12 col-sm-6">
                <img class="img-fluid" src="<%= story.story_image.try(:url_cover) %>">
              </div>
              <div class="col-12 col-sm-6">
                <div class="p-4 text-dark">
                  <div class="h5 font-weight-bold text-row-2 mb-3"><%= story.title %></div>
                  <hr>
                  <p class="text-row-3"><%= truncate(strip_tags(story.content), :length => 36)%>
                  <div class="btn btn-outline-primary">繼續閱讀</div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-center mt-6">
        <%= link_to "更多", list_stories_path, :class => "btn btn-outline-primary px-10"%>
      </div>
    </div>
	</div>
  <%= render "shared/footer" %>
</boby>