<body>
	<nav class="pushy pushy-left bg-white">
	   <%= render "shared/mobile" %>
	</nav>
	<div class="site-overlay"></div>
	<%= render "shared/header" %>
	<div id="main" class="push mt-10 mt-lg-12">
		<div class="slider-headlines">
			<% @story.each do |story|%>
				<%= link_to story_path(story.id), :class => "card card-headlines", :style => "background-image: url(#{story.story_image.url_headline});" do %>
          <div class="card-img-overlay">
            <div>
              <div class="h1 mb-4 mb-lg-14 d-block text-white"><%= story.title%></div>
              <div class="d-none d-sm-block">
                <div class="btn btn-outline-light px-10">繼續閱讀</div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% @project.each do |project|%>
      	<%= link_to "#{@project_domain}/campaigns/#{project.slug}", :class => "card card-headlines", :style => "background-image: url(#{project.campaign_image.landing_page});" do %>
          <div class="card-img-overlay">
            <div>
              <div class="h1 mb-4 mb-lg-14 d-block text-white"><%= project.title%></div>
              <div class="">
                <div class="row mb-4 mb-lg-14 align-items-center">
                  <div class="col-12 col-lg-4 my-1">
                    <i class="far fa-fw fa-clock"></i> <%= render_remain_day(project.end_date) %>
                  </div>
                  <div class="col-12 col-lg-4 my-1">
                    <i class="fas fa-fw fa-dollar-sign"></i> <span class="">目前達成金額</span>
                    <strong><%= number_to_currency(project.amount_raised, precision: 0) %></strong>
                  </div>
                  <div class="col-12 col-lg-4 my-1 text-center">
                    <div class="progress w-75 mx-auto">
                      <div class="progress-bar" role="progressbar" style="width: <%= campaign_percentage(project) %>;" aria-valuenow="<%= campaign_percentage(project) %>" aria-valuemin="0" aria-valuemax="100"><%= campaign_percentage(project) %></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-none d-sm-block">
                <div class="btn btn-outline-light px-10">查看內容</div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mb-4 py-10">
      <div class="text-center mb-10">
        <div class="h1 font-weight-bold">工作牆</div>
      </div>
      <% if user_signed_in? %>
        <div class="row no-gutters">
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/515">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1351/thumb_52856394_2217095008376943_1576796134901284864_n.png">
              <div class="card-img-overlay">
                十幾年前剛到坪林時隨手種下的咖啡樹苗，並沒細心的照顧它，不知不覺中它自顧自地長大，季節到了總會結實累累，紅豔豔的咖啡豆引來路過的遊客讚嘆。看來坪林也很適合種咖啡喔。
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/517">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1356/thumb_8D20B11A-B245-4FF8-AA04-7C9671298276.png">
              <div class="card-img-overlay">
                這兩種粉紅色的花，你認不認得出來哪一朵是桃花，哪一朵是粉紅色的梅花？
              </div>
            </a>          
          </div>
          <div class="col-6 col-md-4 col-lg-2">
              <a class="card card-wall" href="/farmers/4/mobile_img/518">
                <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1359/thumb_IMG_0430.png">
                <div class="card-img-overlay">
                  multi_upload
                </div>
              </a>          
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/524">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1375/thumb_003C408F-DB23-4092-9548-846ABF1FC974.png">
              <div class="card-img-overlay">
                2013年3月12日與坪林有機茶產銷班班員參觀翡翠水庫時局長送了一棵烏來杜鵑，帶回坪林種植，每年二三月總會開出優雅的花朵讓人欣賞。
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/526">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1380/thumb_3CAF4740-7D13-442F-9E1B-6AD793E82304.png">
              <div class="card-img-overlay">  
                台灣中南部城市空汙嚴重，晴天都是霧茫茫的，根本看不到藍天白雲。生活在坪林就幸福多了，藍藍的天、千變萬化的白雲任你欣賞。
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/524">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1372/thumb_CC175CAA-145F-4B25-9B84-165A410C5505.png">
              <div class="card-img-overlay">
                2013年3月12日與坪林有機茶產銷班班員參觀翡翠水庫時局長送了一棵烏來杜鵑，帶回坪林種植，每年二三月總會開出優雅的花朵讓人欣賞。
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/14/mobile_img/512">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1343/thumb_04.png">
              <div class="card-img-overlay">
                來坐！泡茶給您喝
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/517">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1357/thumb_5F8AA34D-7D7A-4067-B771-A62A7C27EA75.png">
              <div class="card-img-overlay">
                這兩種粉紅色的花，你認不認得出來哪一朵是桃花，哪一朵是粉紅色的梅花？
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/481">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/622/thumb_76CDC6B2-4D32-44F3-988A-45050B36AFB4.png">
              <div class="card-img-overlay">
                參加107年有機與友善耕作農業田間栽培管理及肥培講習
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/481">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/950/thumb_10A2729A-33D4-4E57-BA67-90AD3E728829.png">
              <div class="card-img-overlay">
                日出
              </div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/22/mobile_img/526">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1379/thumb_237252ED-3983-4013-A668-B50D15407D81.png">
              <div class="card-img-overlay">
                台灣中南部城市空汙嚴重，晴天都是霧茫茫的，根本看不到藍天白雲。生活在坪林就幸福多了，藍藍的天、千變萬化的白雲任你欣賞。
              </div>
            </a>
          </div>
          
          <div class="col-6 col-md-4 col-lg-2">
            <a class="card card-wall" href="/farmers/2/mobile_img/507">
              <img class="card-img" src="https://soginationaltest.s3-ap-southeast-1.amazonaws.com/agric_sc/fb_to_aw/file/1337/thumb_52445451_383661732417347_7961241063077707776_n.png">
              <div class="card-img-overlay">
                小小玉米種子有著大大的能量，埋在培養土中，才幾天就長成綠綠的苗。下星期將它們移植到田裏，到六月初，大夥兒可以來坪林歡喜採收鮮甜飽滿的糯玉米。
              </div>
            </a>
          </div>
        </div>
      <% else %>
        <div class="row no-gutters">
          <% @work_walls.each do |ww|%>
            <div class="col-6 col-md-4 col-lg-2">
              <%= link_to farmer_mobile_img_path(ww.work_diary.owner_id,ww.work_diary_id), :class => "card card-wall" do %>
                <img class="card-img" src="<%= ww.cover_url%>">
                <div class="card-img-overlay">
                  <%= ww.work_diary.comment%>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="text-center mt-6">
        <%= link_to "更多", work_walls_path, :class => "btn btn-outline-primary px-10"%>
      </div>
    </div>
    <div class="container-fluid bg-light mb-4 py-10">
      <div class="container">
        <%= render_big_project_title(@att_projects, @new_projects) %>
        <ul class="nav nav-index justify-content-center mb-7">
          <%= render_att_project_title(@att_projects)%>
          <%= render_hot_project(@att_projects, @new_projects)%>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-project-hot">
            <div class="row">
              <% @att_projects.each do |att|%>
                <div class="col-12 col-sm-6 col-lg-3 my-3">
                  <%= link_to "#{@project_domain}/campaigns/#{att.slug}", :class => "item" do %>
                    <div class="d-block position-relative">
                      <%= campaign_tag(att)%>
                      <img class="img-fluid text-center" src="<%= att.campaign_image.try(:campaign_path) %>" alt="">
                    </div>
                    <div class="p-2">
                      <div class="item-title text-black">
                        <%= att.title %>
                      </div>
                      <div class="text-muted mb-2">
                        <small>
                          <i class="far fa-user"></i> <%= att.name%>
                        </small>
                        <small class="item-desc"><%= att.claim%></small>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= campaign_percentage(att) %>;" aria-valuenow="<%= campaign_percentage(att) %>" aria-valuemin="0" aria-valuemax="100"><%= campaign_percentage(att) %></div>
                      </div>
                      <div class="mt-2 text-dark">
                        <small class="d-block">
                          <i class="far fa-fw fa-clock"></i> <%= render_remain_day(att.end_date) %>
                        </small>
                        <small class="d-block">
                          <i class="fas fa-fw fa-dollar-sign"></i> <span class="text-muted">目前達成金額</span>
                          <strong><%= number_to_currency(att.amount_raised, precision: 0)%></strong>
                        </small>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="text-center my-3">
              <%= link_to "更多", "#{@project_domain}", :class => "btn btn-outline-primary px-10"%>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-project-new">
            <div class="row">
              <% @new_projects.each do |new_p|%>
                <div class="col-12 col-sm-6 col-lg-3 my-3">
                  <%= link_to "#{@project_domain}/campaigns/#{new_p.slug}", :class => "item" do %>
                    <div class="d-block position-relative">
                      <%= campaign_tag(new_p)%>
                      <img class="img-fluid text-center" src="<%= new_p.campaign_image.try(:campaign_path) %>" alt="">
                    </div>
                    <div class="p-2">
                      <div class="item-title text-black">
                        <%= new_p.title %>
                      </div>
                      <div class="text-muted mb-2">
                        <small>
                          <i class="far fa-user"></i> <%= new_p.name%>
                        </small>
                        <small class="item-desc">
                          <%= new_p.claim%>
                        </small>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= campaign_percentage(new_p) %>;" aria-valuenow="<%= campaign_percentage(new_p) %>" aria-valuemin="0" aria-valuemax="100"><%= campaign_percentage(new_p) %></div>
                      </div>
                      <div class="mt-2 text-dark">
                        <small class="d-block">
                          <i class="far fa-fw fa-clock"></i> <%= render_remain_day(new_p.end_date) %>
                        </small>
                        <small class="d-block">
                          <i class="fas fa-fw fa-dollar-sign"></i> <span class="text-muted">目前達成金額</span>
                          <strong><%= number_to_currency(new_p.amount_raised, precision: 0)%></strong>
                        </small>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="text-center my-3">
              <%= link_to "更多", "#{@project_domain}", :class => "btn btn-outline-primary px-10"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-10">
      <div class="container">
        <div class="text-center mb-3">
          <div class="h1 font-weight-bold"><%= @story_cat_one[0].story_cat.name %></div>
        </div>
        <!-- <ul class="nav nav-index justify-content-center mb-7">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-article-1">咖啡</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-article-2">有機蔬果</a>
          </li>
        </ul> -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-article-1">
            <div class="row">
              <% @story_cat_one.each do |story|%>
                <div class="col-12 col-md-4 my-3 post">
                  <%= link_to story_path(story.id) do%>
                    <div class="text-center">
                      <%= image_tag story.story_image.try(:url_cover), :class => "img-fluid" %>
                    </div>
                    <div class="my-1"></div>
                    <div class="lead my-1 text-row-1 text-dark font-weight-bold"><%= story.title%></div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="text-center my-3">
              <%= link_to "更多", list_stories_path, :class => "btn btn-outline-primary px-10"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4 py-10">
      <div class="text-center mb-10">
        <div class="h1 font-weight-bold"><%= @story_cat_two[0].story_cat.name %></div>
      </div>
      <div class="row no-gutters">
        <% @story_cat_two.each do |story|%>
          <div class="col-12 col-lg-6">
            <%= link_to story_path(story.id), :class => "row no-gutters align-items-center bg-light btn-story" do%>
              <div class="col-12 col-sm-6">
                <img class="img-fluid" src="<%= story.story_image.try(:url_cover) %>">
              </div>
              <div class="col-12 col-sm-6">
                <div class="p-4 text-dark">
                  <div class="h5 font-weight-bold text-row-2 mb-3"><%= story.title %></div>
                  <hr>
                  <p class="text-row-3"><%= truncate(strip_tags(story.content), :length => 36)%>
                  <div class="btn btn-outline-primary">繼續閱讀</div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-center mt-6">
        <%= link_to "更多", list_stories_path, :class => "btn btn-outline-primary px-10"%>
      </div>
    </div>
	</div>
  <%= render "shared/footer" %>
</boby>