<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">聊天內容</a></li>
              <li class="active">參數設定</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Table List</strong> <%= link_to "新增", new_parameter_set_path%>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">自訂名稱</th>
                      <th scope="col">參數名稱</th>
                      <th scope="col">編輯</th>
                      <th scope="col">狀態</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @parameters.each do |par| %>
                      <tr>
                        <th><%= par.id %></th>
                        <th><%= par.name %></th>
                        <th><%= par.ref %></th>
                        <th><%= link_to "編輯", edit_parameter_set_path(par.id) %></th>
                        <th><%= link_to render_enabled(par.enabled), parameter_set_path(par.id), :method => :delete %></th>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>