<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">網頁內容</a></li>
              <li class="active">REF使用者輸入</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title"></strong>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">名稱</th>
                        <th scope="col">自定義名稱</th>
                        <th scope="col">對象</th>
                        <th scope="col">使用者輸入設定</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @parameter_jsons.each do |parameter_json|%>
                        <tr>
                          <th scope="row"><%= parameter_json.name %></th>
                          <td><%= parameter_json.def_name %>   <%= link_to "[edit]",name_edit_parameter_set_path(parameter_json.id)%></td>
                          <td><%= render_role(parameter_json.parameter_set_type) %></td>
                          <td><%= link_to "[set]", set_list_parameter_set_path(parameter_json.id)%></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>