<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">聊天內容</a></li>
              <li class="active">參數設定</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header"><strong>新增</strong></div>
              <div class="card-body card-block">
                <%= form_for @parameters, :url => parameter_sets_path(@parameters), :method => :post do |f| %>
                  <div class="form-group">
                    <%= f.label("參數名稱", :class => 'form-control-label') %><%= f.text_field(:arg, :class => "form-control", placeholder: "輸入參數名稱")%>
                    <small class="form-text text-muted">參數規則：</small>
                  </div>
                  <div class="form-group">
                    <%= f.label(:guest, "訪客JSON", :class => 'form-control-label') %>
                    <%= f.text_area :guest, :class => "md-textarea form-control", :rows => 5 %>
                  </div>
                  <div class="form-group">
                    <%= f.label(:subscribe_guest, "訂閱訪客JSON", :class => 'form-control-label') %>
                    <%= f.text_area :subscribe_guest, :class => "md-textarea form-control", :rows => 5 %>
                  </div>
                  <div class="form-group">
                    <%= f.label(:user, "會員JSON", :class => 'form-control-label') %>
                    <%= f.text_area :user, :class => "md-textarea form-control", :rows => 5 %>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                      <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                      <i class="fa fa-ban"></i> Reset
                    </button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>