<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">工作紀錄</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Table List</strong>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">農友</th>
                        <th scope="col">作物種類</th>
                        <th scope="col">田區代號</th>
                        <th scope="col">紀錄事項</th>
                        <th scope="col">採收量(臺斤)</th>
                        <th scope="col">工作時間</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @records.each do |record|%>
                        <tr>
                          <td scope="row"><%= record.id%></td>
                          <td><%= record.user.farmer_profile.name %></td>
                          <td><%= record.farming_category%></td>
                          <td><%= record.filed_code%></td>
                          <td><%= record.work_project %></td>
                          <td><%= record.weight%></td>
                          <td><%= record.work_time.try(:strftime, '%Y-%m-%d' ) %></td>
                        </tr>
                        <%#(record.work_record_images || []).each do |image|%>
                          <!-- <tbody style="font-size: 10px"> -->
                            <!-- <td></td> -->
                            <!-- <td colspan="4"><%#= link_to image.url , image.url, target: "_blank"%></td> -->
                            <!-- <td><%#=link_to (image.enabled == true ? "[開啟]": "[隱藏]") ,record_img_work_record_path(image.id) %></td> -->

                          <!-- </tbody> -->
                        <%#end%>
                      <% end %>
                    </tbody>
                  </table>
                  <%= will_paginate @records %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
function showIframe(url,w,h){
  var if_w = w; 
  var if_h = h; 

  $("<iframe width='" + if_w + "' height='" + if_h + "' id='YuFrame1' name='YuFrame1' style='position:absolute;z-index:4;'  frameborder='no' marginheight='0' marginwidth='0' allowTransparency='true'></iframe>").prependTo('body');    
  var st=document.documentElement.scrollTop|| document.body.scrollTop;
  var sl=document.documentElement.scrollLeft|| document.body.scrollLeft;
  var ch=document.documentElement.clientHeight;
  var cw=document.documentElement.clientWidth;
  var objH=$("#YuFrame1").height();
  var objW=$("#YuFrame1").width();
  var objT=Number(st)+(Number(ch)-Number(objH))/2;
  var objL=Number(sl)+(Number(cw)-Number(objW))/2;
  $("#YuFrame1").css('left',objL);
  $("#YuFrame1").css('top',objT);
  $("#YuFrame1").attr("src", url);
  $("<div id='YuFrame1Bg' style='background-color: Gray;display:block;z-index:3;position:absolute;left:0px;top:0px;filter:Alpha(Opacity=30);/* IE */-moz-opacity:0.4;/* Moz + FF */opacity: 0.4; '/>").prependTo('body'); 
  var bgWidth = Math.max($("body").width(),cw);
  var bgHeight = Math.max($("body").height(),ch);
  $("#YuFrame1Bg").css({width:bgWidth,height:bgHeight});
  $("#YuFrame1Bg").click(function() {
    $("#YuFrame1").remove();
    $("#YuFrame1Bg").remove();
  });
}
</script>