<script type="text/javascript" src="https://loopj.com/jquery-tokeninput/src/jquery.tokeninput.js"></script>
<link rel="stylesheet" href="https://loopj.com/jquery-tokeninput/styles/token-input-facebook.css" type="text/css" />
<style>
ul.token-input-list-facebook {
  border :0px;
  color: transparent;
}
</style>
<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">網頁內容</a></li>
              <li class="active">用戶輸入</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <%= form_for @generic_keyword, :url => user_inputs_path, :class => "form-horizontal" do |f| %>
                <div class="card-header">
                  <strong class="card-title">全域用戶輸入</strong>
                </div>
                <div class="card-body">
                  <div class="row form-group">
                    <div class="col col-md-3"><label for="select" class="form-control-label">類型</label></div>
                    <div class="col-12 col-md-3">
                      <select name="select" id="select_type" class="form-control">
                        <option value="1">輸入內容</option>
                        <option value="2">輸入類型</option>
                        <option value="3">輸入格式</option>
                        <option value="4">預設行為</option>
                      </select>
                    </div>
                    <div class="col-12 col-md-3">
                      <select name="generic_keyword[keyword_type]" id="select_content" class="form-control">
                        <option value="1">含任一關鍵字</option>
                        <option value="2">含所有關鍵字</option>
                        <option value="3">完全相符</option>
                      </select>
                    </div>
                  </div>
                  <div class="row form-group" id="key_in">
                    <div class="col col-md-3"><label for="select" class="form-control-label">關鍵字</label></div>
                    <div class="col-12 col-md-9">
                      <div style="display:inline;float:left;"><%= text_field_tag :keyin %><small class="form-text text-muted">輸入後請先 Enter 送出，關鍵字才會儲存成功</small></div><div style="display:inline;float:left;"><%= f.text_field :keyword%></div>
                    </div>
                  </div>
                  <%= fields_for :generic_json do |s| %>  
                    <hr/>
                    <div class="row form-group">
                      <div class="col col-md-3"><label class=" form-control-label">JSON類型</label></div>
                      <div class="col col-md-9">
                        <div class="form-check">
                          <div class="radio">
                            <label class="form-check-label">
                              <input type="radio" name="generic_json[cat]" value="1" class="form-check-input" onclick="show1();" checked> 自定義
                            </label>
                          </div>
                          <div class="radio">
                            <label class="form-check-label">
                              <input type="radio" name="generic_json[cat]" value="2" class="form-check-input" onclick="show1();"> 文案
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group" id="def_json">
                      <div class="col col-md-3">
                        <label class=" form-control-label">JSON</label>
                      </div>
                      <div class="col col-md-9">
                        <%= s.text_area :json, :class => "form-control", :rows => "9" %><small class="form-text text-muted">對話內容會一次傳送，建議設定一階層的對話再搭配文案使用</small>
                      </div>
                    </div>
                    <div class="row form-group" id="sel_json" style="display: none;">
                      <div class="col col-md-3">
                        <label class=" form-control-label">文案</label>
                      </div>
                      <div class="col col-md-6">
                        <%= s.select :wording_id, options_from_collection_for_select(@wordings, "id", "name"), {include_blank: "選擇文案"}, { :class => 'custom-select',:onchange => "change_wording_id();" } %>
                      </div>
                      <div class="col col-md-3">
                        <select class="custom-select" name="generic_json[wording_json_id]" id="specify_json_wording_json_id">
                          <option>選擇json</option>
                        </select>
                      </div>
                    </div>
                  <% end %>
                </div>       
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                  </button>
                  <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                  </button>
                </div>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $( "#select_type" ).change(function() {
    switch($( "#select_type" ).val()){
      case "1":
        $( "#select_content" ).html("<option value=\"1\">含任一關鍵字</option><option value=\"2\">含所有關鍵字</option><option value=\"3\">完全相符</option>");
        $("#key_in").show();
        break;
      case "2":
        $( "#select_content" ).html("<option value=\"4\">純文字</option><option value=\"5\">圖片</option><option value=\"6\">影片</option><option value=\"7\">音訊</option><option value=\"8\">位置</option>");
        $("#key_in").hide();
        break;
      case "3":
        $( "#select_content" ).html("<option value=\"9\">手機號碼</option><option value=\"10\">Email</option><option value=\"11\">數字</option>");
        $("#key_in").hide();
        break;
      case "4":
        $( "#select_content" ).html("<option value=\"12\">任意輸入</option>");
        $("#key_in").hide();
        break;
    }
  });
  function change_wording_id(){
    jQuery.get("<%= json_wordings_path() %>", { wording_id : jQuery('#generic_json_wording_id').val() },null, "script");
  }
  $(document).ready(function() {
    $("#generic_keyword_keyword").tokenInput([],{
      hintText: "",
      noResultsText: "",
      searchingText: "",
      theme: 'facebook'
    });
    $("#keyin").on('keypress',function(e) {
      if(e.which == 13) {
        var word = $("#keyin").val();
        $( "#generic_keyword_keyword" ).tokenInput("add", {id: word, name: word});
        $("#keyin").val("");
        return false;
      }
    });
  });
  function show1(){
    $('#def_json').toggle();
    $('#sel_json').toggle();
  };
</script>