<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">農場日誌</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">日誌編輯</strong>
              </div>
              <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                  <div class="card-body">
                    <div class="card-title">
                      <h3 class="text-center"></h3>
                    </div>
                    <hr>
                    <%= form_for @diary, :url => {:controller => 'work_diaries', :action => 'update', :id => @diary} do |f| %>
                      <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">圖片</label>
                        <img src="<%= @diary.show_url%>">
                      </div>
                      <div class="form-group">
                        <label for="cc-name" class="control-label mb-1">狀態</label>
                        <%= f.select :enabled, options_for_select([['開啟', 1], ['關閉', 0]],@diary.enabled)%>                        
                      </div>
                      <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">位置</label>
                        <%= f.select :position, options_for_select([['不使用', nil], ['大刊頭545*370', 1], ['小矩形(277*190)', 2], ['直條(277*380)', 3], ['橫條(555*190)', 4]],@diary.position)%>
                      </div>
                      <div class="form-group">
                        <label for="cc-exp" class="control-label mb-1">濾鏡</label>
                        <%= f.select :filter, options_for_select([['不使用', nil], ['對比', "contrast"], ['飽和', "saturate"], ['灰階', "grayscale"], ['懷舊', "sepia"]],@diary.filter)%>
                      </div>
                      <div>
                        <%= f.submit "送出", :class => "btn btn-lg btn-info btn-block"%>
                      </div>
                    <% end %>
                  </div>
                </div>

              </div>
            </div> <!-- .card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>