<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">農場日誌</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Table List</strong>
              </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">農友</th>
                        <th scope="col">作物種類</th>
                        <th scope="col">田區代號</th>
                        <th scope="col">紀錄事項</th>
                        <th scope="col">採收量(臺斤)</th>
                        <th scope="col">工作時間</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @diaries.each do |diary|%>
                        <tr>
                          <td scope="row"><%= diary.id%></td>
                          <td><%= diary.user.farmer_profile.farm_name %></td>
                          <td><%= diary.comment%></td>
                          <td><%= diary.diary_time.strftime('%Y-%m-%d') %></td>
                        </tr>
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">連結</th>
                            <th scope="col">編輯</th>
                            <th scope="col">位置</th>
                            <th scope="col">濾鏡</th>
                            <th scope="col">編輯</th>
                          </tr>
                        </thead>
                        <%(diary.work_diary_images || []).each do |image|%>
                          <tbody style="font-size: 10px">
                            <td></td>
                            <td><%= link_to "點選觀看" , image.origin_url, target: "_blank"%></td>
                            <td><%= image.enabled == true ? "[開啟]": "[隱藏]" %></td>
                            <td><%= render_position(image.position)%></td>
                            <td><%= render_filter(image.filter)%></td>
                            <td><%= link_to "編輯", edit_work_diary_path(image.id) %>
                          </tbody>
                        <%end%>
                      <% end %>
                    </tbody>
                  </table>
                  <%= will_paginate @diaries, :renderer => WillPaginateRenderer::WebPageRenderer %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>